@media (min-width: 992px) {
    /*HEADER*/
    .header__logo {
        width: 50%;
    }
    /*HEADER__NAV*/
    .nav {
        width: 35%;
    }
    /*FILTER LIST*/
    .search-filter {
        width: 100%;
        max-width: 134rem;
    }
    .filter {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .filter__title {
        order: 1;
        width: 10%;
        align-items: center;
    }
    .filter__list {
        order: 2;
    }
    .info {
        order: 3;
        width: 100%;
        align-items: center;
    }
    .activity__card--group5-6 {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        width: 67%;
    }
}
