@media (min-width: 1400px) {
    /*HEADER*/
    .header__logo {
        width: 70%;
    }
    /*HEADER__NAV*/
    .nav {
        width: 25%;
    }
    /*ACCOMODATION CARD MOD*/
    .card {
        width: 24.6rem;
        height: 19.9rem;
    }
    .card__figure {
        width: 23.6rem;
        height: 11.4rem;
    }
    /*ACTIVITY MOD*/
    .activity {
        width: 100%;
        max-width: 139.2rem;
        border-radius: 25px;
    }
    .activity__card {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .activity__card--group5-6 {
        width: auto;
    }
    .activity__card--group2-3,
    .activity__card--group5-6 {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    /*ACTIVITY CARD SIZE*/
    /*1 & 4*/
    .activity__card > .card--emptyNotation:nth-child(1),
    .activity__card .card--emptyNotation:nth-child(3) {
        height: 44.5rem;
    }
    .activity__card > .card--emptyNotation:nth-child(1) .card__figure--tall,
    .activity__card .card--emptyNotation:nth-child(3) .card__figure--tall {
        height: 39rem;
    }
    /*2 - GROUPE 2-3*/
    .activity__card--group2-3 .card--emptyNotation:nth-child(1) {
        height: 23.6rem;
    }
    .activity__card--group2-3
        .card--emptyNotation:nth-child(1)
        .card__figure--tall {
        height: 18.1rem;
    }
    /*3 - GROUPE 2-3*/
    .activity__card--group2-3 .card--emptyNotation:nth-child(2) {
        height: 16.4rem;
    }
    .activity__card--group2-3
        .card--emptyNotation:nth-child(2)
        .card__figure--tall {
        height: 11rem;
    }

    /*5 - GROUPE 5-6*/
    .activity__card--group5-6 .card--emptyNotation:nth-child(1) {
        height: 19.5rem;
    }
    .activity__card--group5-6
        .card--emptyNotation:nth-child(1)
        .card__figure--tall {
        height: 14.1rem;
    }
    /*6 - GROUPE 5-6*/
    .activity__card--group5-6 .card--emptyNotation:nth-child(2) {
        height: 20.9rem;
    }
    .activity__card--group5-6
        .card--emptyNotation:nth-child(2)
        .card__figure--tall {
        height: 15.3rem;
    }
}
