@media (min-width: 1400px) {
    /*HEADER*/
    .header__logo {
        width: 70%;
    }
    /*HEADER__NAV*/
    .nav {
        width: 25%;
    }
    /*ACCOMODATION CARD MOD*/
    .card {
        width: 24.6rem;
        height: 19.9rem;
    }
    .card__figure {
        width: 23.6rem;
        height: 11.4rem;
    }
}
