/*COMMON RULES*/
.search-bar__submit--button,
.search-bar__submit--icon {
    background-color: #0065fc;
}

.search-bar__submit--icon,
.search-bar__submit--button {
    color: white;
    cursor: pointer;
}

.search-bar,
.search-bar__prepend--icon,
.search-bar__submit--icon,
.search-bar__submit--button {
    display: flex;
}
/*====*/

.search__tilte {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    width: 90%;
}
.search__subtitle {
    font-size: 1.4rem;
    font-weight: 500;
}
.search-bar {
    justify-content: space-between;
    align-items: center;
    max-width: 42rem;
    margin: 2.5rem 0;
    border: 0.1rem solid #f2f2f2;
    border-radius: 1.3em;
}

.search-bar__prepend--icon,
.search-bar__submit--icon,
.search-bar__submit--button {
    justify-content: center;
    align-items: center;
}
.search-bar__prepend--icon {
    width: 45px;
    height: 46px;
    background-color: #f2f2f2;
    font-size: 1.6rem;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

.search-bar__input {
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 1.4rem;
    width: 70%;
}

.search-bar__submit--icon {
    width: 46px;
    height: 46px;
    font-size: 1.5rem;
    border-radius: 1.3rem;
}
.search-bar__submit--button {
    display: none;
    height: 46px;
    font-weight: bold;
    border: none;
    padding: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
