/* 4 - FILTER */

/*COMMON RULES*/
.filter,
.filter__title,
.filter__list,
.filter__button,
.filter__icon,
.info,
.info__icon {
    display: flex;
}

.filter,
.filter__icon,
.info__icon {
    justify-content: center;
}

.filter__icon,
.filter__list,
.filter__button,
.info,
.info__icon {
    align-items: center;
}

.filter__name,
.info__txt {
    font-size: 1.5rem;
}

.filter__button:hover,
.filter__icon,
.info__icon {
    color: #0065fc;
}
/*====*/

.filter {
    flex-direction: column;
    align-items: stretch;
    padding: 2.4em;
}
.filter__title {
    justify-content: flex-start;
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.filter__list {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 84.4rem;
}

.filter__button {
    margin-bottom: 1.1rem;
    height: 45px;
    border-radius: 4.5rem;
    /*Animation*/
    transition: all 0.3s ease;
    border-top: 0.3rem solid #f2f2f2;
    border-right: 0.3rem solid #f2f2f2;
    border-bottom: 0.3rem solid #f2f2f2;
    /*=========*/
}

.filter__button:hover {
    background-color: #deebff;
    cursor: pointer;
}

.filter__icon {
    height: 45px;
    width: 47px;
    border-radius: 50%;
    background: #deebff;
    font-size: 1.35em;
}

.filter__name {
    margin: 0 1.6rem;
    font-weight: bold;
    /*Animation*/
    transition: color 0.25s ease;
    /*=========*/
}

.filter__name:active {
    color: black;
    cursor: wait;
}

.info {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 2rem 0;
}

.info__icon {
    align-self: flex-start;
    border: 1px solid #deebff;
    border-radius: 50%;
    padding: 1rem;
    height: 22px;
    width: 22px;
}

.info__txt {
    margin: 1.1rem 0 0 1rem;
}
