/*COMMON RULES*/
.activity,
.activity__title {
    display: flex;
}
/**/

.activity {
    flex-direction: column;
    align-items: center;
}

.activity__title {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 27px;
    font-size: 1.9rem;
    font-weight: 800;
}
