/*GLOBAL RULES*/
.header,
.nav__list,
.nav__item {
    display: flex;
}
.header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__signIn {
    text-decoration: none;
    color: #0065fc;
    font-weight: 700;
    font-size: 1.6rem;
}

.header__logo {
    order: 1;
}
.header__signIn {
    order: 2;
}
.header__logo,
.header__signIn {
    padding: 1.8rem;
}
.nav {
    order: 3;
    width: 100%;
}
/* NAV */

.nav__list {
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav__item {
    justify-content: center;
    padding: 1.3rem;
    width: 50%;
    cursor: pointer;
    /*Animation*/
    transition: border-bottom 0.3s ease;
    border-bottom: solid #f2f2f2;
    /*=========*/
}

.nav__item:hover {
    border-bottom: 0.35rem solid #0065fc;
}

.nav__link {
    text-decoration: none;

    /*Animation*/
    transition: color 0.3s ease;
    color: black;
    /*=========*/
}

.nav__link:hover {
    font-weight: 600;
    color: #0065fc;
}

.nav__link:active {
    color: #deebff;
    cursor: wait;
}
