/*FONT*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
* {
    font-family: "Raleway", sans-serif;
}

/* 3 - SEARCH */

.search {
    padding: 2.4rem;
}

.search__tilte {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    width: 90%;
}
.search__subtitle {
    font-size: 1.4rem;
    font-weight: 500;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 42rem;
    margin: 2.5rem 0;
    border: 0.1rem solid #f2f2f2;
    border-radius: 1.3em;
}

.search-bar__prepend--icon,
.search-bar__submit--icon,
.search-bar__submit--button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar__prepend--icon {
    width: 45px;
    height: 46px;
    background-color: #f2f2f2;
    font-size: 1.6rem;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

.search-bar__input {
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 1.4rem;
    width: 70%;
}

.search-bar__submit--icon {
    background-color: #0065fc;
    width: 46px;
    height: 46px;
    color: white;
    font-size: 1.5rem;
    border-radius: 1.3rem;
    cursor: pointer;
}
.search-bar__submit--button {
    display: none;
    height: 46px;
    font-weight: bold;
    background-color: #0065fc;
    color: white;
    border: none;
    padding: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    cursor: pointer;
}
@media (min-width: 500px) {
    .search-bar__input {
        width: 57%;
    }
    .search-bar__submit--icon {
        display: none;
    }
    .search-bar__submit--button {
        display: inline-block;
    }
}

/* 4 - FILTER */
.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 0 2.4rem 2.4rem 2.4rem;
}
.filter__title {
    display: flex;
    justify-content: flex-start;
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.filter__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 159px;
    width: 100%;
}

.filter__button {
    display: flex;
    align-items: center;
    padding: 0;
    height: 45px;
    border-radius: 4.5rem;
    /*Animation*/
    transition: all 0.3s ease;
    background: white;
    border-top: 0.3rem solid #f2f2f2;
    border-right: 0.3rem solid #f2f2f2;
    border-bottom: 0.3rem solid #f2f2f2;
    /*=========*/
}

.filter__button:hover {
    background-color: #deebff;
    color: #0065fc;
    cursor: pointer;
}

.filter__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 47px;
    border-radius: 4rem;
    color: #0065fc;
    background: #deebff;
    font-size: 1.35em;
}

.filter__name {
    margin: 0 1.6rem;
    font-weight: bold;
    font-size: 1.5rem;
    /*Animation*/
    transition: color 0.25s ease;
    /*=========*/
}

.filter__name:active {
    color: black;
    cursor: wait;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    color: #0065fc;
    border: 1px solid #deebff;
    border-radius: 50%;
    padding: 1rem;
    height: 22px;
    width: 22px;
}

.info__txt {
    margin: 1.1rem 0 0 1rem;
    font-size: 1.5rem;
}

/* 4 - POPULAR */

.popular {
    padding: 2.4rem;
    background-color: #f2f2f2;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.popular__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.2rem;
}
.popular__title {
    font-size: 2rem;
    font-weight: 800;
}
.popular__icon {
    font-size: 2.2rem;
}

.popular__icon:hover,
.popular__icon:active {
    cursor: pointer;
    color: #0065fc;
}

/*CARD RULES*/

.card {
    width: 302px;
    height: 179px;
    border-radius: 15px;
    margin: 1.2rem 0;
    padding: 3px;
    box-shadow: 0 0 2em #f2f2f2;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card--emptyNotation {
    width: 301px;
    height: 171px;
    border-radius: 15px;
    box-shadow: 0 0 2em #f2f2f2;
    margin: 1.2rem 0;
    background: white;
    display: flex;
    flex-direction: column;
}

.card--row {
    width: 301px;
    height: 130px;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 4rem silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;
}

.card__figure {
    width: 294px;
    height: 103px;
}
.card__figure--small {
    width: 115px;
    height: 121px;
}
.card__figure--tall {
    width: 301px;
    height: 122px;
}
.card__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card__image--small {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.card__body {
    display: flex;
    width: 100%;
    height: 68px;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}
.card__body--small {
    display: flex;
    width: 177px;
    height: 100%;
    flex-direction: column;
    padding: 1em;
}
.card__title {
    font-size: 1.4rem;
    font-weight: bold;
}
.card__subtitle {
    font-size: 1.2rem;
    padding: 0.5em 0;
}
.card__body--small .card__subtitle {
    padding: 1em 0;
}
.card__subtitle > span {
    font-weight: bold;
}
.card__body--small .card__actions,
.card__body--small .card__actions--custom4 {
    margin-top: 2.4rem;
}

/*BEM END*/

.card :hover,
.card :active,
.card--row:hover,
.card--row :active {
    color: #0065fc;
}

.card:hover,
.card--row:hover {
    cursor: pointer;
}

.card:active,
.card--row :active {
    cursor: wait;
}

.card__notation,
.card__notation--custom3,
.card__notation--custom4,
.card__actions,
.card__actions--custom3,
.card__actions--custom4 {
    color: #0065fc;
    font-size: 1.1rem;
    letter-spacing: -0.09rem;
}

/* .card--row .card__notation,
.card--row .card__notation--custom3,
.card--row .card__notation--custom4 {
} */

.card__notation--custom3 > i:nth-child(4),
.card__notation--custom3 > i:nth-child(5),
.card__notation--custom4 > i:nth-child(5),
.card__actions--custom3 > i:nth-child(4),
.card__actions--custom3 > i:nth-child(5),
.card__actions--custom4 > i:nth-child(5) {
    color: #deebff;
}

/* 5 ACCOMODATION */
.accomodation__title,
.accomodation__more {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 27px;
    font-weight: 800;
}
.accomodation__title {
    font-size: 1.9rem;
}
.accomodation {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accomodation__more {
    font-size: 1.55rem;
    margin-top: 2rem;
}
.accomodation__more:hover {
    cursor: pointer;
    color: #0065fc;
}

.accomodation__more:active {
    cursor: wait;
}

/* 6 ACTIVITY */

.activity {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity__title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 27px;
    font-size: 1.9rem;
    font-weight: 800;
}

/* 7 FOOTER */
footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}
.footer {
    padding: 2.4rem;
    width: 100%;
    max-width: 1280px; /*temporary*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.footer__content {
    margin: 1.2em 0;
}
.footer__title {
    margin: 1.2rem 0;
    font-size: 1.6rem;
    font-weight: 800;
}

.footer__subtitle {
    margin: 1.2rem 0;
    font-size: 1.4rem;
}
