/*FONT*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
* {
    font-family: "Raleway", sans-serif;
}

/* 5 ACCOMODATION */
.accomodation__title,
.accomodation__more {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 27px;
    font-weight: 800;
}
.accomodation__title {
    font-size: 1.9rem;
}
.accomodation {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accomodation__more {
    font-size: 1.55rem;
    margin-top: 2rem;
}
.accomodation__more:hover {
    cursor: pointer;
    color: #0065fc;
}

.accomodation__more:active {
    cursor: wait;
}

/* 6 ACTIVITY */

.activity {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity__title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 27px;
    font-size: 1.9rem;
    font-weight: 800;
}

/* 7 FOOTER */
footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}
.footer {
    padding: 2.4rem;
    width: 100%;
    max-width: 1280px; /*temporary*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.footer__content {
    margin: 1.2em 0;
}
.footer__title {
    margin: 1.2rem 0;
    font-size: 1.6rem;
    font-weight: 800;
}

.footer__subtitle {
    margin: 1.2rem 0;
    font-size: 1.4rem;
}
