@media (min-width: 1440px) {
    /*HEADER*/
    .header {
        max-width: 134rem;
    }
    .header__logo {
        order: 1;
        width: 70%;
    }
    .header__signIn {
        text-align: center;
        order: 3;
        width: 10%;
    }

    /*HEADER__NAV*/
    .nav {
        order: 2;
        width: 20%;
    }

    .nav__item {
        padding: 3rem;
        /*Animation*/
        transition: border-top 0.3s ease;
        border-top: 0.4rem solid #f2f2f2;
        border-bottom: 0;
        /*=========*/
    }

    .nav__item:hover {
        border-bottom: 0;
        border-top: 0.4rem solid #0065fc;
    }

    /*SEARCHBAR MOD*/
    .search-bar {
        max-width: 42rem;
    }
    .search-bar__submit--icon {
        display: none;
    }
    .search-bar__submit--button {
        display: inline-block;
        position: absolute;
        font-weight: bold;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #0065fc;
        color: white;
        border: none;
        padding: 1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        cursor: pointer;
    }

    /*FILTER LIST*/
    .filter {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .filter__title {
        order: 1;
        width: 5%;
        align-items: center;
    }
    .filter__list {
        order: 2;
        /* width: 60%; */
        height: auto;
        max-width: 84.4rem;
    }
    .info {
        order: 3;
        width: 100%;
        align-items: center;
    }

    /*MAIN LAYOUT*/
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .popular-accomodation-group {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        max-width: 134rem;
    }
    /*ACCOMODATION MOD*/
    .accomodation {
        order: 1;
        width: 67.5%;
        max-width: 88rem;
        background: #f2f2f2;
        border-radius: 25px;
        margin-right: 4rem;
    }
    .accomodation__card {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    /*ACCOMODATION CARD MOD*/
    .card {
        width: 24.6rem;
        height: 19.9rem;
    }
    .card__figure {
        width: 23.6rem;
        height: 11.4rem;
    }
    /*POPULAR MOD*/
    .popular {
        order: 2;
        max-width: 42rem;
        border-radius: 25px;
    }
    /*POPULAR CARD MOD*/
    .card--row {
        width: 34.3rem;
        height: 14.4rem;
        margin: 2rem 0;
    }
    .card__figure--small {
        width: 12.7rem;
        height: 13.4rem;
    }
    /*ACTIVITY MOD*/
    .activity {
        order: 3;
        width: 100%;
        max-width: 139.2rem;
        border-radius: 25px;
    }
    .activity__card {
        width: 100%;
        /* max-width: 139.2rem; */
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .activity__card--group2-3,
    .activity__card--group5-6 {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    /*ACTIVITY CARD SIZE*/
    /*1 & 4*/
    .activity__card > .card--emptyNotation:nth-child(1),
    .activity__card .card--emptyNotation:nth-child(3) {
        height: 44.5rem;
    }
    .activity__card > .card--emptyNotation:nth-child(1) .card__figure--tall,
    .activity__card .card--emptyNotation:nth-child(3) .card__figure--tall {
        height: 39rem;
    }
    /*2 - GROUPE 2-3*/
    .activity__card--group2-3 .card--emptyNotation:nth-child(1) {
        height: 23.6rem;
    }
    .activity__card--group2-3
        .card--emptyNotation:nth-child(1)
        .card__figure--tall {
        height: 18.1rem;
    }
    /*3 - GROUPE 2-3*/
    .activity__card--group2-3 .card--emptyNotation:nth-child(2) {
        height: 16.4rem;
    }
    .activity__card--group2-3
        .card--emptyNotation:nth-child(2)
        .card__figure--tall {
        height: 11rem;
    }

    /*5 - GROUPE 5-6*/
    .activity__card--group5-6 .card--emptyNotation:nth-child(1) {
        height: 19.5rem;
    }
    .activity__card--group5-6
        .card--emptyNotation:nth-child(1)
        .card__figure--tall {
        height: 14.1rem;
    }
    /*6 - GROUPE 5-6*/
    .activity__card--group5-6 .card--emptyNotation:nth-child(2) {
        height: 20.9rem;
    }
    .activity__card--group5-6
        .card--emptyNotation:nth-child(2)
        .card__figure--tall {
        height: 15.3rem;
    }

    /*FOOTER MOD*/
    .footer {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        max-width: 134rem;
    }
    .footer__content {
        margin-right: 20%;
    }
}
