@media (min-width: 1440px) {
    /*FOOTER MOD*/
    footer {
        width: 100%;
    }
    .footer {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        max-width: 134rem;
    }
    .footer__content {
        margin-right: 20%;
    }
}
