@media (min-width:992px) {

    /*HEADER MOD*/
    .header__logo {
        order: 1;
    }
    .header__signIn {
        order: 3;
    }
    .nav {
        order: 2;
    }

    /* FILTER MOD */
    .filter h3 {
        display: inline;
    }
    .choiceBox{
        display: inline-flex;
        flex-direction: row;
    }
    .filter__button{
        margin-left: 2em;
    }
}